@model MoodDiaryProjectW2024.Models.WeatherDto

@{
    ViewBag.Title = "View";
}

<a href="/Weather/"></a>
<h2>Day: @Model.WeatherDay</h2>
<h2>Sun: @Model.WeatherSun</h2>
<h2>Clouds: @Model.WeatherClouds</h2>
<h2>Precipitation: @Model.WeatherPrecip</h2>
<h2>Temperature: @Model.WeatherTemperature</h2>



