@model IEnumerable<MoodDiaryProjectW2024.Models.WeatherDto>
@{
    ViewBag.Title = "List";
}

<div class="container">
    <h2 style="color:orangered">Weather List</h2>
    @foreach (var Weather in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><a href="/Weather/Details/@Weather.WeatherId">@Weather.WeatherDay</a></h5>
                <div class="card-text">Temperature: @Weather.WeatherTemperature</div>
                <div class="card-text">Clouds: @Weather.WeatherClouds</div>
                <div class="card-text">Sun: @Weather.WeatherSun</div>
                <div class="card-text">Precipitation: @Weather.WeatherPrecip</div>
            </div>
        </div>
    }
</div>